#sidebar {
    position: fixed; /* Cambia de absolute a fixed */
    top: 125px; /* Ajusta la parte superior para evitar superposiciones */
    left: 0;
    width: 200px;
    height: calc(100% - 80px); /* Ajusta la altura para que no se superponga con el encabezado */
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;

}
.lienzo {
align-items: flex-start; /* Alinea los elementos en la parte superior */
    position: fixed; /* Cambia de absolute a fixed */
    top: 125px; /* Ajusta la parte superior para evitar superposiciones */
    left: 170px;
    width: calc(100% - 200px);
    height: calc(100% - 150px); /* Ajusta la altura para que no se superponga con el encabezado y el pie de página */
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */

}


/* Estilos para la antena */
.antena {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* Estilos para los círculos de zonas */
.zona {
    fill-opacity: 0.2;
    stroke-width: 1;
}

.lienzo {   
    flex-direction: row;
    display: none; /* Ocultar todos los lienzos inicialmente */
    border: 1px solid #ccc;

}
.device {
    margin: 5px;
    cursor: pointer;
    overflow: hidden; /* Asegura que la hitbox no se expanda */
}

.device img {
    width: 100%; /* Ajusta el ancho de la imagen para que se ajuste al contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}

.device {
    position: relative; /* Necesario para el posicionamiento del contenedor */
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
}

.hitbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Contenedor invisible */
}

.dialogo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
}
body {
    zoom: 67%;
    -moz-transform: scale(0.67);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.67);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.67);
    -webkit-transform-origin: 0 0;
    margin: 0;
    padding: 0;
}


#logo-header img {
    height: 100px; /* Modifica el tamaño del logo */
    width: 350px;
}

#logo-header {
    text-decoration: none;
    color: black;
}

#main-header {
    background-color: gray; /* Color principal de la universidad */
    color: black;
    height: 100px; /* Aumenta la altura del encabezado */
    display: flex;
    width: 97.9%;
    top: 0px;
    right: 0px;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    padding: 0 20px; /* Añade espacio interno */
    margin: 0; /* Añade margen */
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Espacio entre los elementos de navegación */
}

nav ul li:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer elemento */
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: graytext; /* Color de fondo al pasar el ratón */
}
#main-content {
    display: flex;
    flex-direction: row;
}

#centro-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

#centro-texto {
    margin-bottom: 20px;
}




#simulaciones {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}
.nombre-simulacion {
    display: block;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}
.simulacion {
    margin-bottom: 20px;
}

.simulacion h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.simulacion p {
    margin: 0;
    color: #666;
}

.card-container {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.card-body {
    display: flex; /* Utilizar flexbox para alinear los elementos horizontalmente */
}






